<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="left">RTB Timepieces Inc.</h1>
    <a href="/products" id="Click">View The Collection</a>
</body>
</html>

<style>

h1{
    font-style: italic;
    padding-top: 45px;
    padding-bottom: 30px;
    font-size: 55px;
    margin: auto;
    justify-content: center;
    text-align: left;
}
    html{
        align-content: center;
        background-color: darkgrey;
    }

body{
width: 100vw;
height: 100vh;
margin: auto;
background-image: url('https://thumbs.gfycat.com/JauntyFinishedBasilisk-max-1mb.gif');
background-size: cover;
color: rgb(52, 51, 51);
}

a#Click{
    text-align: center;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    color: black;
}
</style>