<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>

<h1>Interested In Selling Your Watch?</h1>
<h3>Tell Us More About It Below</h3>
<h4>RTB Timepieces offers competitive market value and a smooth transaction Guarunteed</h4>
<h5>All watches are subject to approval and authentication</h5>

    <link rel="stylesheet" href="/public/style.css">
    <header>
        <nav class="show">
            <a href="/products/">Home</a>
        </nav>


    <form action='/new' method="POST">
        Watch Name: <input type="text" name="name">
        Description: <input type="text" name="description">
        Picture of Watch: <input type="text" name="img">
        Asking Price: <input type="number" name="price">
        How Many?: <input type="number" name="qty">
<input type="submit"  name="submit" value="Post Watch">
    </form>
</body>
</html>

<style>

input{
    padding: 5px;
    border-radius: 4px;
}

form{
    display: inline-block;
    text-align: right;
    font-size: 18px;
}

a{
    text-decoration: underline;
    padding: 25px;
}

    input{
        border: none;
        color: green;
    }
</style>